services:
  bus:
    image: ellato/bus:latest

    environment:
      - BUS_LOG_LEVEL=INFO
      - BUS_PATH=/storage/events.log
      - BUS_ADDR=0.0.0.0:2021
      # each application requires a different namespaces
      # list them separated by comma here
      - BUS_NAMESPACES=namespace1,namespace2
      # optional encryption settings
      # - BUS_SECRET_KEY=secret-key-for-encryption
      # - BUS_BLOCK_SIZE=4096

    # if ports is removed, then the bus service can
    # only be accessed from within the network bus
    # make sure to add the bus network to the other services
    ports:
      - "2021:2021"

    # make sure to use the right network
    networks:
      - bus

    volumes:
      - ./storage:/storage

networks:
  bus:
    name: bus_net
    driver: bridge